*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    background: #000;
    background-attachment: fixed;
    Font-family: 'Nunito', sans-serif;
    color:#fff;
    
    
}

::-webkit-scrollbar{
    width: 0.4vw;
}

::-webkit-scrollbar-track{
    
    background-color: #000
}
::-webkit-scrollbar-thumb{
    width: 0.5vw;
    background-color: #4d727f;
    border-radius: 30px;
    border: 0.1vw  solid rgb(204, 201, 201);
    
}

/* FORMATAÇÃO DO DROP MENU */
#menuLateral{
    width: 50px;
    height: 100%;
    display: inline-block;
    position: fixed;
    background:#000;
    box-shadow: 6px 0 0 #4d727f;
    border-left: 5px solid #000;
    overflow: hidden;
    transition: 0.5s;
    z-index: 100;
}

#menuLateral:hover{
    width: 200px;
}
#menuLateral ul{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40vh 0 40vh 0;
    

}
#menuLateral ul li{
    position:relative;
    list-style: none;
    width: 100%;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    
}

#menuLateral ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
#menuLateral ul li a .icon{
    position: relative;
    display: block;
    min-height: 60px;
    height: 60px;
    text-align: center;
    line-height:60px ;
    padding-left: 5px;
}



#menuLateral ul li a .title{
    position: relative;
    display: block;
    padding-left: 18px;
    height: 60px;
    padding-top:15px;
    /* line-height: 49px; */
    white-space: nowrap;

}

#menuLateral ul li.ativo{
    background:#4d727f ;

}
#menuLateral ul li.ativo a::before{
    content: '';
    position: absolute;
    top:-30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #4d727f     ;

}
#menuLateral ul li.ativo a::after{
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #4d727f;

}

#menuLateral li:hover{
    background: #ebe1e0ed;
}
 /* TITULO */
.titulo{
    display: flex;
    font-weight: 700;
    color:#fff;
    height:60px;
    margin-bottom: 0;
    margin-top:10px;
    margin-left: 170px;
    margin-right: 200px;
    font-size: 50px;
    text-shadow: 0 0 2px rgb(223, 211, 211);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding-left: 75px;
}

/* PAGINA DE LOGIN */
 

#containerLogin{
    height:100vh;  
    width: 100vw;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    padding-top: 20vh;
    padding-left: 10vw;
    

}

#imgLogin{
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 62vh;
    width: 700px;
    

    
}

#imgLogin img{
    height: 45vh;
    width: 45vw;
}

.tituloLogin{
        display: flex ;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 18vh;
        font-family: "Montserrat", sans-serif;  
        font-size: 7vh;
        text-align:center;
        
}



#Login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.5vh;
    align-items: center;
    height: 60vh;
    width: 25vw;
    background: #598392de;
    border-radius: 1.5rem;
    padding:5vh 4vw 2vh 4vw;
    margin-right: 15vw;
}

.login-box{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20vw;
    background: #b0deef8a;
    border-radius: 30px;
    height: 5vh;
    position: relative;
    margin-left: 0; 

}   


.data-box{
   background-color: transparent;
   transition: all 0.3 ease-out;
   border:none;
   outline: none;
   width: 15vw;
   padding-top: 1.5vh;

}

.login-box:focus-within{
    border: 2px solid #bfd4dcc2;
}

.linha{
    margin-top:0px;
    width:20vw;
    height: 10px;
}

.login-box label{
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    padding-top: 1vh;
    padding-left: 1vw;
    transition: all .3s ease-out;
}

.login-box input:focus +label,
.login-box input:valid +label{
    font-size: 1.5vh;
    padding-top: 2px;
    

}

#Login button{
    background: #b33024;
    border: none;
    border-radius: 30px;
    width: 8vw;
    height: 4vh;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    color:#fff;
}

#Login button:hover{
    border: 1px solid bfd4dcc2;
    background: #ff0000;
    
}

.login-box .material-symbols-outlined{
    padding-top: 0.8vh;
}

#Login a{
    color: #f91905;
    font-weight: bold;
    text-decoration: none ;
}
#Login p{
    font-size: 1.8vh;
    width: 300px;
    text-align: center;
    height: 30px;
}

.mostrarSenha .material-symbols-outlined{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    cursor: pointer;
    font-size: 2vh;
    width: 20vw;
    height:30px;  
    padding-left: 0.5vw;
    
}

.loginComContas{
    height:10vh;
    width: 20vw;
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6vw;
    justify-content: center;
    text-align: center;
}
.loginComContas span{
    flex-basis: 100%;

    
}
.loginComContas img{
    width: 2vw;
    filter:invert(100) ;
}

.iconeLogin{
    flex-basis: 100%;
    
}

/* TELA DE CADASTRO */

.cadastro{
    height:300vh;  
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    padding-top: 15vh;
    padding-left: 15vw;
    
}

#msgError{
    text-align: center;
    color:rgb(180, 5, 5);
    background:none;
    padding: 2px;
    border-radius: 4px;
    width: 15vw;
    display: none;
    font-size: 15px;
    border:1px solid red;      
}
#msgSucess{
    text-align: center;
    color:rgb(15, 217, 15);
    background:transparent;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    display: none;
    width: 250px;
    font-size: 20px;

}

#msgError1{
    text-align: center;
    color:rgb(180, 5, 5);
    background:none;
    padding: 2px;
    border-radius: 4px;
       width: 250px;
    display: none;
    font-size: 15px;
}
#msgSucess1{
    text-align: center;
    color:rgb(15, 217, 15);
    background:transparent;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    display: none;
    width: 250px;
    font-size: 20px;

}

.tituloLogin a{
    text-decoration: none;
    color:#fff;
}

.tituloLogin span{
    color:red;
    
}

/* PAGINA DE PRODUTOS */


.containerPlanos{
    
    width: 90vw;
    height: 90vh;
    margin:5vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left:0;
    position:absolute;
    margin-top:90vh
}

.produtoImpar{
    
    width: 20vw;
    height: 45vh;
    flex-basis: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.imgProduto{
    width: 25vw;
    margin-left: 0;
    padding-top: 5vh;
}

.produto1{
       
        width: 60vw;
        padding-right: 0;
        font-family: "Montserrat", sans-serif;  
        text-align:center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;  
        border-bottom: solid red
}

.produto1 span{
    font-size: 4vh;
}
.produto1 .tituloProduto{
    color:red;
    font-size: 7vh;
    line-height:15vh;
}

.preco{
    color:red;
}


.produtoPar{
    
    width: 45vw;
    height: 45vh;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    
}
.imgProduto2{
    justify-content:end;
    display: inline-block;
    width: 25vw;
    justify-self:flex-end;
    padding-top: 5vh;
 }

 .produto2{
   width: 60vw; 
   font-family: "Montserrat", sans-serif;  
   text-align:center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-around;   
   border-bottom: solid red;
 }
 
 .produto2 .tituloProduto{
    color:red;
    font-size: 7vh;
    line-height:15vh;
 }

 .produto2 span{
    font-size: 4vh;
}